<!-- <pre>{{myForm.value | json}}</pre> -->
<div [hidden]="submitted">
    <!-- <form #detailStudentForm="ngForm">
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" required
        [(ngModel)]="student.first_name" name="first_name" #first_name="ngModel">
        <div [hidden]="first_name.valid || first_name.pristine"
             class="alert alert-danger">
            First Name is required
        </div>
      </div>
      
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" required
        [(ngModel)]="student.last_name" name="last_name" #last_name="ngModel">
        <div [hidden]="last_name.valid || last_name.pristine"
             class="alert alert-danger">
            Last Name is required
        </div>
      </div>
      

      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
        <button type="button" class="btn btn-dark" (click)="update()" [disabled]="!detailStudentForm.form.valid">Update</button>
        <button type="button" class="btn btn-dark" (click)="delete()">Delete</button>
	    </div>
    </form> -->

    <form [formGroup]="myForm" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <h3>Student Details</h3>
    
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" id="first_name" placeholder="First Name" required
          [(ngModel)]="student.first_name" name="first_name" #first_name="ngModel" [ngModelOptions]="{standalone: true}">
        <div [hidden]="first_name.valid || first_name.pristine" class="alert alert-danger">
          First Name is required
        </div>
      </div>
    
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" placeholder="Last Name" required
          [(ngModel)]="student.last_name" name="last_name" #last_name="ngModel" [ngModelOptions]="{standalone: true}">
        <div [hidden]="last_name.valid || last_name.pristine" class="alert alert-danger">
          Last Name is required
        </div>
      </div>
      <div class="form-group">
        <label for="branch">Branch</label>
        <select id="branches" name="branches" required [(ngModel)]="student.branch" name="branch" #branch="ngModel"
        [ngModelOptions]="{standalone: true}">
        <option *ngFor="let branch of branches" [value]="branch.id">{{branch.branch_name}}</option>
      </select>
        <!-- <input type="text" class="form-control" id="branch" placeholder="Branch" required [(ngModel)]="student.branch"
          name="branch" #branch="ngModel" [ngModelOptions]="{standalone: true}"> -->
        <div [hidden]="branch.valid || branch.pristine" class="alert alert-danger">
          Branch is required
        </div>
      </div>
    
      <div class="form-group">
        <label for="dob">Date of Birth</label>
        <input type="date" data-date="" data-date-format="YYYY MMMM DD "  class="form-control" id="dob" placeholder="Date of Birth" required [(ngModel)]="student.dob"
          name="dob" #dob="ngModel" [ngModelOptions]="{standalone: true}">
        <div [hidden]="dob.valid || dob.pristine" class="alert alert-danger">
          Date of Birth is required
        </div>
      </div>
    
      <div class="form-group">
        <label for="backlogs">Backlog</label>
        <select id="backlogs" name="backlogs" required [(ngModel)]="student.backlogs" name="backlogs" #backlog="ngModel"
          [ngModelOptions]="{standalone: true}">
          <option *ngFor="let backlog of backlogs" [value]="backlog">{{backlog}}</option>
        </select>
      </div>
    
      <div class="form-group">
        <label for="aadhar_no">Aadhar Number</label>
        <input type="text" class="form-control" id="aadhar_no" placeholder="Aadhar Number" required
          [(ngModel)]="student.aadhar_no" name="aadhar_no" #aadhar_no="ngModel" [ngModelOptions]="{standalone: true}">
        <div [hidden]="aadhar_no.valid || aadhar_no.pristine" class="alert alert-danger">
          Aadhar Number is required
        </div>
      </div>
    
      <div class="form-group">
        <label for="pan_no">PAN Number</label>
        <input type="text" class="form-control" id="pan_no" placeholder="PAN Number" required [(ngModel)]="student.pan_no"
          name="pan_no" #pan_no="ngModel" [ngModelOptions]="{standalone: true}">
        <div [hidden]="pan_no.valid || pan_no.pristine" class="alert alert-danger">
          PAN Number is required
        </div>
      </div>
    
      <hr>
      <hr>
    
      <button style="margin-top:5px; margin-bottom:5px;" type="button" class="btn btn-primary btn-sm"
        (click)="addNewEducationForm()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Educational Details Form
      </button>
      <div formArrayName="education_details">
        <div style="margin-top:5px; margin-bottom:5px;"
          *ngFor="let edu_details of myForm.get('education_details').controls; let i=index">
          <fieldset>
            <legend>
              <h4>Education Details {{i+1}}:<button style="margin-left:35px;" type="button" class="btn btn-danger"
                  (click)="deleteEducationDetails(i)">
                  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Remove Educational Details Form
                </button>
              </h4>
            </legend>
            <div [formGroupName]="i">
              <div class="form-inline">
                <div class="form-group">
                  <input type="text" class="form-control" id="certificate_degree_name" placeholder="Certificate Degree Name"
                    name="certificate_degree_name" formControlName="certificate_degree_name" required>
                  <input type="text" class="form-control" id="board"
                    placeholder="Board" name="major" formControlName="board"
                    required>
                  <input type="text" class="form-control" id="major" placeholder="Major" name="major"
                    formControlName="major" required>
                  <input type="text" class="form-control" id="institute_university_namer"
                    placeholder="Institute University Name" name="major" formControlName="institute_university_name"
                    required>
                  <!-- <input type="date" data-date="" data-date-format="YYYY MMMM DD" class="form-control" id="start_date" placeholder="Start Date" name="start_date"
                    formControlName="start_date" required>
                  <input type="date" class="form-control" id="completion_date" placeholder="Completion Date"
                    name="completion_date" formControlName="completion_date" required> -->
                  <input type="number" class="form-control" id="passing_year" placeholder="Passing Year" name="passing_year"
                    formControlName="passing_year"   min="1000" max="9999" required>
                  <input type="number" class="form-control" id="percentage" placeholder="Percentage" name="percentage"
                    formControlName="percentage"  min="1" max="100" required>
                  <input type="number" class="form-control" id="number" placeholder="CGPA" name="cgpa"  min="1" max="10"
                    formControlName="cgpa" required>
    
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <button style="margin-top:5px; margin-bottom:5px;" type="button" class="btn btn-primary btn-sm"
        (click)="addNewExperienceForm()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Experience Details Form
      </button>
      <div formArrayName="experience_details">
        <div style="margin-top:5px; margin-bottom:5px;"
          *ngFor="let edu_details of myForm.get('experience_details').controls; let i=index">
          <fieldset>
            <legend>
              <h4>Experience Details {{i+1}}:<button style="margin-left:35px;" type="button" class="btn btn-danger"
                  (click)="deleteExperienceDetails(i)">
                  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Remove Experience Details Form
                </button>
              </h4>
            </legend>
            <div [formGroupName]="i">
              <div class="form-inline">
                <div class="form-group">
                  <input type="text" class="form-control" id="job_title" placeholder="Job Title" name="job_title"
                    formControlName="job_title" required>
                  <input type="text" class="form-control" id="company_name" placeholder="Company/Organization Name"
                    name="company_name" formControlName="company_name" required>
                  <label> <input type="checkbox" [value]="true" class="form-control" id="is_current_job"
                      name="is_current_job" formControlName="is_current_job">Is Current Job</label>
                  <input type="text" class="form-control" id="job_location_city" placeholder="Job Location City" name="job_location_city"
                    formControlName="job_location_city" required>
                  <textarea type="text" class="form-control" id="description" placeholder="Description" name="description"
                    formControlName="description" required></textarea>
                  <input type="date" data-date="" data-date-format="YYYY MMMM DD" class="form-control" id="start_date" placeholder="Start Date" name="start_date"
                    formControlName="start_date" required>
                  <input type="date" data-date="" data-date-format="YYYY MMMM DD" class="form-control" id="end_date" placeholder="End Date" name="end_date"
                    formControlName="end_date" required>
    
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
     <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-dark" (click)="update()" [disabled]="!detailStudentForm.form.valid">Update</button>
	    </div>
    
    </form>
</div>
 
<div [hidden]="!submitted">
    <p>{{message}}</p>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
    </div>
</div>