<!-- <label> {{data[0].id}} </label> -->

<br>
<div class="col-md-12">
    <mat-card class="example-card">
        <mat-card-header>
            <h3>Company Details</h3>
        </mat-card-header>
        <mat-card-content>
                <b> <label> Company Name : </label> </b> {{data[0].company.company_name}} <br><br>
                <b> <label> Company URL : </label> </b> <a (click) = "onNavigate()" >  {{data[0].company.company_website_url}} </a> <br><br>
                <b> <label> Job Type : </label> </b> {{data[0].jobtype.job_type_name}} <br><br> 
                <b> <label> Job Profile : </label> </b> {{data[0].job_profile}} <br><br>
                <b> <label> Job Description : </label> </b> {{data[0].job_description}} <br><br>
                <b> <label> Job Location : </label> </b> {{data[0].job_location}} <br><br>
                <b> <label> Salary : </label> </b> {{data[0].salary_lpa}} <br><br>
                <button class="btn btn-danger pull-right" (click)="back()"> Back </button>
                <button class="btn btn-danger " *ngIf = " data[0].is_active == 1; " [routerLink]="['/editjobposts', data[0].id]" enabled > Edit </button><br>
                <button class="btn btn-danger " *ngIf = " data[0].is_active == 1; " (click)="closeJobPost()" enabled> Close Job Post </button>
                <button class="btn btn-danger pull-right" (click)="delete()"> Delete </button><br>
        </mat-card-content>
    </mat-card>
</div>


