<aside class="profile-card">

    <div class="profile-bio">
  <br>
  <br>
      <h4>
          You have successfully Registered! 
      </h4>
          <h4>
            Your Profile is still under verification.
          </h4>
          <h4>
          You will be notified once your profile is verified.
      </h4>
      <br>
      <br>
      <div class="btn-group btn-group-sm">
          <button mat-raised-button type="button" class="btn btn-danger pull-right" [routerLink]="['../login']"><h2>LogOut</h2></button>
      </div>
    </div>
  
  
  </aside>