<h3>Add Job</h3>
<div [hidden]="submitted">
    <form #adminplacementForm="ngForm">

      
      <div class="form-group">
        <label for="company_name">Company Name : </label>
        <input type="text" class="form-control" id="company_name" placeholder="Company Name" 
        required
        [(ngModel)]="company.company_name" name="company_name" #company_name="ngModel">
        <div [hidden]="company_name.valid || company_name.pristine"
             class="alert alert-danger">
           Company Name is required
        </div>
      </div>

      <div class="form-group">
          <label for="profile_description">Profile Description : </label>
          <input type="text" class="form-control" id="profile_description" placeholder="Profile Description" 
          required
          [(ngModel)]="company.profile_description" name="profile_description" #profile_description="ngModel">
          <div [hidden]="profile_description.valid || profile_description.pristine"
               class="alert alert-danger">
             Profile Description is required
          </div>
        </div>

        <div class="form-group">
            <label for="company_website_url">Company URL : </label>
            <input type="text" class="form-control" id="company_website_url" placeholder="Company URL" 
            required
            [(ngModel)]="company.company_website_url" name="company_website_url" #company_website_url="ngModel">
            <div [hidden]="company_website_url.valid || company_website_url.pristine"
                 class="alert alert-danger">
               Company URL is required
            </div>
          </div>

		<div class="form-group">
            <label for="company_id">Company ID : </label>
            <input type="text" class="form-control" id="company_id" placeholder="Company ID" 
            required
            [(ngModel)]="company.company_id" name="company_id" #company_id="ngModel">
            <div [hidden]="company_id.valid || company_id.pristine"
                 class="alert alert-danger">
               Company ID is required
            </div>
          </div>

<div class="form-group">
            <label for="id">ID : </label>
            <input type="text" class="form-control" id="id" placeholder="Job ID" 
            required
            [(ngModel)]="job.id" name="id" #id="ngModel">
            <div [hidden]="id.valid || id.pristine"
                 class="alert alert-danger">
               Job ID is required
            </div>
          </div>
      
          <div class="form-group">
            <label for="job_type">Job type : </label>
            <input type="text" class="form-control" id="job_type" placeholder="Job Type" 
            required
            [(ngModel)]="job.job_type" name="job_type" #job_type="ngModel">
            <div [hidden]="job_type.valid || job_type.pristine"
                 class="alert alert-danger">
               Job Type is required
            </div>
          </div>

          <div class="form-group">
            <label for="job_profile">Job Profile: </label>
            <input type="text" class="form-control" id="job_profile" placeholder="Job Profile" 
            required
            [(ngModel)]="job.job_profile" name="job_profile" #job_profile="ngModel">
            <div [hidden]="job_profile.valid || job_profile.pristine"
                 class="alert alert-danger">
               Job Profile is required
            </div>
          </div>
          
	  <div class="btn-group btn-group-sm">
      	<button type="button"  class="btn btn-dark" (click)="addCompany(); addJob()"  [disabled]="!adminplacementForm.form.valid">Add</button>
      </div>

    </form>