<br>
<div class="col-md-12">
    <mat-card class="example-card">

        <mat-card-header>
            <h3>Notifications</h3>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group dynamicHeight>
                <mat-tab label="Approved requests">
                    <div *ngFor="let ad of result ; let i = index ">
                        <b> <label> Roll Number : </label> </b> {{ad.roll_no}} <br><br>
                        <b> <label> Degree : </label> </b> {{ad.certificate_degree_name}} <br><br>
                        <b> <label> Major : </label> </b> {{ad.major}} <br><br>
                        <b> <label> Percentage : </label> </b> {{ad.percentage}} <br><br>
                        <b> <label> CGPA : </label> </b> {{ad.cgpa}} <br><br>
                        <b> <label> Backlogs : </label> </b> {{ad.backlogs}} <br><br>
                        <hr>
                    </div>
                    <p>No requests approved!</p>
                </mat-tab>
                <mat-tab label="Rejected requests">
                    <p>Mo requests rejected!</p>
                </mat-tab>
                <mat-tab label="Pending requests">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header card-header-danger">
                            </div>
                            <div class="card-body">
                                <div *ngFor="let ed of edudata ; let i = index ">
                                    <b> <label> Roll Number : </label> </b> {{ed.roll_no}} <br><br>
                                    <b> <label> Degree : </label> </b> {{ed.certificate_degree_name}} <br><br>
                                    <b> <label> Major : </label> </b> {{ed.major}} <br><br>
                                    <b> <label> Percentage : </label> </b> {{ed.percentage}} <br><br>
                                    <b> <label> CGPA : </label> </b> {{ed.cgpa}} <br><br>
                                    <b> <label> Backlogs : </label> </b> {{ed.backlogs}} <br><br>
                                    <button mat-raised-button #elem (click)="approveRequest(ed)" class="btn-btn">
                                        Approve </button> &nbsp;
                                    <button mat-raised-button (click)="rejectRequest(ed)" class="btn-btn"> Reject
                                    </button>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>