<br>
<div class="col-md-12">
    <mat-card class="example-card">
        <mat-card-header>
            <h3>Notifications corner</h3>
        </mat-card-header>
        <mat-card-content>
                <mat-tab-group dynamicHeight>
    
                        <mat-tab label="Profile Requests"> <br>
                            <div *ngFor="let ed of studentdata ; let i = index ">
                                <b> <label> Roll Number : </label> </b> {{ed.roll_no}} <br><br>
                                <b> <label> First Name   : </label> </b> {{ed.first_name}} <br><br>
                                <b> <label> Last Name : </label> </b> {{ed.last_name}} <br><br>
                                <b> <label> Branch : </label> </b> {{ed.branch}} <br><br>
                                <b> <label> DOB : </label> </b> {{ed.dob}} <br><br>
                                <b> <label> Aadhar Number : </label> </b> {{ed.aadhar_no}} <br><br>
                                <b> <label> Backlogs : </label> </b> {{ed.backlogs}} <br><br>   
                                <button #elem (click) = "approveProfileRequest(ed)"  class = "btn-btn"> Approve </button> &nbsp;
                                <button (click) = "rejectProfileRequest(ed)" class = "btn-btn"> Reject </button>
                                <hr>
                            </div>              
                        </mat-tab>
                    
                        <mat-tab label="Education Requests"> <br>
                            <div *ngFor="let ed of edudata ; let i = index ">
                                <b> <label> Roll Number : </label> </b> {{ed.roll_no}} <br><br>
                                <b> <label> Degree   : </label> </b> {{ed.certificate_degree_name}} <br><br>
                                <b> <label> Major : </label> </b> {{ed.major}} <br><br>
                                <b> <label> Percentage : </label> </b> {{ed.percentage}} <br><br>
                                <button #elem (click) = "approveRequest(ed)"  class = "btn-btn"> Approve </button> &nbsp;
                                <button (click) = "rejectRequest(ed)" class = "btn-btn"> Reject </button>
                                <hr>
                            </div>              
                        </mat-tab>
                    
                    
                        <mat-tab label="Experience Requests"> <br>
                            <div *ngFor="let ed of expdata ; let i = index ">
                                <b> <label> Roll Number : </label> </b> {{ed.roll_no}} <br><br>
                                <b> <label> Currently Working   : </label> </b> {{ed.is_current_job}} <br><br>
                                <b> <label> Start Date : </label> </b> {{ed.start_date}} <br><br>
                                <b> <label> End Date : </label> </b> {{ed.end_date}} <br><br>
                                <b> <label> Job Title : </label> </b> {{ed.job_title}} <br><br>
                                <b> <label> Company Name : </label> </b> {{ed.company_name}} <br><br>
                                <b> <label> Location : </label> </b> {{ed.job_location_city}} <br><br>
                                <b> <label> Description : </label> </b> {{ed.description}} <br><br> 
                                <b> <label> Proof Document: </label> </b> <a href="http://localhost:4000/api/file/X{{ed.id}}">Proof Document</a><br><br>
                                <button #elem (click) = "approveExperienceRequest(ed)"  class = "btn-btn"> Approve </button> &nbsp;
                                <button (click) = "rejectExperienceRequest(ed)" class = "btn-btn"> Reject </button>
                                <hr>
                            </div>              
                        </mat-tab>
                        
                        
                    
                    </mat-tab-group>
                    
        </mat-card-content>
    </mat-card>
</div>> 
