<div class="container">
  <div class="row">
    <div class="col-sm-4">  
      <h1>Angular HttpClient</h1>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a routerLink="students" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Retrieve</a> 
            </li>
            <li class="nav-item">
                <a routerLink="student/add" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Create</a>
            </li>
            <li class="nav-item">
              <a routerLink="addjob" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Add Job Post</a>
          </li>
          <li class="nav-item">
              <a routerLink="jobposts" class="btn btn-light btn-sm" role="button" routerLinkActive="active">Job Posts</a>
          </li>
        </ul>
      <hr>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>