<h5>Competition</h5>

<li *ngFor="let comp of data">

<div >
    <div class="bg-img"><img src="assets/images/google.png" style="width:246px; height : 140px"  alt="Img"></div>
    <div>Competition Name: {{comp.name}}</div>
    <div>Competition Description: {{comp.description}}</div>
    <div>Url: {{comp.url}}</div>
 <br>   
</div>
<div><button class="btn btn-danger"><a href="http://ec2-3-14-3-49.us-east-2.compute.amazonaws.com:4000/api/competitions/{{roll_no}}/{{comp.id}}">Register</a></button> </div>
</li>

