.header img {
    float: left;
    width: 150px;
    height: 120px;
    top: 50px;
    background: #555;
  }
  
  .header h2 {
    position: relative;
    top: 40px;
    color: purple;
    right: 0px;
  }
  
  .cssmenu i {
    font-size: 25px;
    padding:10px;
    float:right;
    color: black;
    margin-right: 30px;
  }
  
  .navbar {
    background: #20B2AA;
    border: 0px;
    top: 60px;
    height: 2%;
  }
  
  .navbar ul li {
    margin-right: 160px;
  }
  
  .flex-container{
      width: 100%;
      min-height: 400px;
      margin: 0 auto;
      display: -webkit-flex; /* Safari */     
      display: flex; /* Standard syntax */
  }
  .flex-container .column{
      padding: 10px;
      background: #dbdfe5;
      -webkit-flex: 1; /* Safari */
      -ms-flex: 1; /* IE 10 */
      flex: 1; /* Standard syntax */
  }
  .flex-container .column.bg-alt{
      background: #b4bac0;
  }
  
  .button {
    background-color: #D3D3D3; /* Green */
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .btn {
    background-color: #20B2AA;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submitbtn {
    background-color: #20B2AA;
    border: none;
    color: white;
    float : right;
    font-size: 16px;
    cursor: pointer;
  }
  
  .popup_header {
      height: 10%;
    background-color: #20B2AA;
    color: white;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  
  .card {
    border: 1px solid #d3d3d3;
    width: 246px;
    float: left;
    margin: 8px;
    border-radius: .20rem;
  }
  
  .bg-img {
    background-size: cover;
    min-height: 140px;
    min-width:246px;
    background-position: center;
    background-color: #ccc;
  }
  
  .content {
    padding: 15px;
  }
  
  button {
    background-color: transparent;
    border: 1px solid #2196F3;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: .25rem;
  }
  
  .search-container{
    width: 490px;
    display: block;
    margin: 0 auto;
  }
  
  input#search-bar{
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
  }

  focus{
      border: 1px solid #f44336;
      transition: 0.35s ease;
      color: #f44336;
  }
      ::-webkit-input-placeholder{
        transition: opacity 0.45s ease; 
        opacity: 0;
       }
      ::-moz-placeholder {
        transition: opacity 0.45s ease; 
        opacity: 0;
       }
      :-ms-placeholder {
       transition: opacity 0.45s ease; 
       opacity: 0;
       }    

  
  .glyphicon-search{
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -35px;
    right: -45px;
  }
  
  .search-container {
    float: left;
    font-size:20px;
    margin-right : 30px;
  }
  
  .sortfilter i {
    font-size: 20px;
    padding:10px;
    float:right;
    color: black;
    margin-right: 30px;
  }
  
  .stickynavbar {
    background: white;
    border: 0px;
    top: 60px;
    height: 2%;
  }
  
  .stickynavbar ul li {
    margin-right: 100px;
  }
  
  