<!-- https://codepen.io/jlalovi/details/bIyAr -->
<div class="container">
  <!-- DONUT CHART BLOCK (LEFT-CONTAINER) --> 
  <div class="donut-chart-block block"> 
                    <h2 class="titular">Total Placements</h2>
                    <div class="donut-chart">
 <!-- PORCIONES GRAFICO CIRCULAR
      ELIMINADO #donut-chart
      MODIFICADO CSS de .donut-chart -->
      <div id="porcion1" class="recorte"><div class="quesito ios" data-rel="21"></div></div>
     <div id="porcion2" class="recorte"><div class="quesito mac" data-rel="39"></div></div>
     <div id="porcion3" class="recorte"><div class="quesito win" data-rel="31"></div></div>
     <div id="porcionFin" class="recorte"><div class="quesito linux" data-rel="9"></div></div>
 <!-- FIN AÑADIDO GRÄFICO -->
                           <!-- <p class="center-date">Total<br><span class="scnd-font-color">Placements</span></p>        -->
                    </div>
                    <ul class="os-percentages horizontal-list">
                        <li>
                            <p class="ios os scnd-font-color">2012</p>
                            <p class="os-percentage">300</p>
                        </li>
                        <li>
                            <p class="mac os scnd-font-color">2013</p>
                            <p class="os-percentage">350</p>
                        </li>
                        <li>
                            <p class="linux os scnd-font-color">2014</p>
                            <p class="os-percentage">400</p>
                        </li>
                        <li>
                            <p class="win os scnd-font-color">2015</p>
                            <p class="os-percentage">424</p>
                        </li>
                    </ul>
                </div>
				
 <!-- LINE CHART BLOCK (LEFT-CONTAINER) -->
                <div class="line-chart-block block">
     <div class="line-chart">
       <div class='grafico'>
       <ul class='eje-y'>
         <li data-ejeY='30'></li>
         <li data-ejeY='20'></li>
         <li data-ejeY='10'></li>
         <li data-ejeY='0'></li>
       </ul>
       <ul class='eje-x'>
         <li>Apr</li>
         <li>May</li>
         <li>Jun</li>
       </ul>
         <span data-valor='25'>
           <span data-valor='8'>
             <span data-valor='13'>
               <span data-valor='5'>   
                 <span data-valor='23'>   
                 <span data-valor='12'>
                     <span data-valor='15'>
                     </span></span></span></span></span></span></span>
       </div>
       
     </div>
                    <ul class="time-lenght horizontal-list">
                        <li><a class="time-lenght-btn" href="#14">College</a></li>
                        <li><a class="time-lenght-btn" href="#15">Placement</a></li>
                        <li><a class="time-lenght-btn" href="#16">Performance</a></li>
                    </ul>
                    <ul class="month-data clear">
                        <li>
                            <p>APR<span class="scnd-font-color"> 2012</span></p>
                            <p><span class="entypo-plus increment"> </span>21<sup>%</sup></p>
                        </li>
                        <li>
                            <p>MAY<span class="scnd-font-color"> 2013</span></p>
                            <p><span class="entypo-plus increment"> </span>23<sup>%</sup></p>
                        </li>
                        <li>
                            <p>JUN<span class="scnd-font-color"> 2014</span></p>
                            <p><span class="entypo-plus increment"> </span>27<sup>%</sup></p>
                        </li>
						<li>
                            <p>JUN<span class="scnd-font-color"> 2015</span></p>
                            <p><span class="entypo-plus increment"> </span>29<sup>%</sup></p>
                        </li>
                    </ul>
                </div>
                

  
  <div class="bar-chart-block block">
    <h2 class='titular'>Department Wise placement</h2>
    <div class='grafico bar-chart'>
       <ul class='eje-y'>
         <li data-ejeY='120'></li>
         <li data-ejeY='90'></li>
         <li data-ejeY='60'></li>
         <li data-ejeY='30'></li>
         <li data-ejeY='0'></li>
       </ul>
       <ul class='eje-x'>
         <li data-ejeX='100'><i>IT</i></li>
         <li data-ejeX='60'><i>CSE</i></li>
         <li data-ejeX='25'><i>ECE</i></li>
         <li data-ejeX='18'><i>EEE</i></li>
         
       </ul>
    </div>
  </div>
            </div>

