<style> 

  .header img {
    float: left;
    width: 150px;
    height: 120px;
    top: 50px;
    background: #555;
  }
  
  .header h2 {
    position: relative;
    top: 40px;
    color: purple;
    right: 0px;
  }
  
  .cssmenu i {
    font-size: 25px;
    padding:10px;
    float:right;
    color: black;
    margin-right: 30px;
  }
  
  .navbar {
    background: #20B2AA;
    border: 0px;
    top: 60px;
    height: 2%;
  }
  
  .navbar ul li {
    margin-right: 160px;
  }
  
  .flex-container{
      width: 100%;
      min-height: 400px;
      margin: 0 auto;
      display: -webkit-flex; /* Safari */     
      display: flex; /* Standard syntax */
  }
  .flex-container .column{
      padding: 10px;
      background: #dbdfe5;
      -webkit-flex: 1; /* Safari */
      -ms-flex: 1; /* IE 10 */
      flex: 1; /* Standard syntax */
  }
  .flex-container .column.bg-alt{
      background: #b4bac0;
  }
  
  .button {
    background-color: #D3D3D3; /* Green */
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .btn {
    background-color: #20B2AA;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submitbtn {
    background-color: #20B2AA;
    border: none;
    color: white;
    float : right;
    font-size: 16px;
    cursor: pointer;
  }
  
  .popup_header {
      height: 10%;
    background-color: #20B2AA;
    color: white;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  
  .card {
    border: 1px solid #d3d3d3;
    width: 246px;
    float: left;
    margin: 8px;
    border-radius: .20rem;
  }
  
  .bg-img {
    background-size: cover;
    min-height: 140px;
    min-width:246px;
    background-position: center;
    background-color: #ccc;
  }
  
  .content {
    padding: 15px;
  }
  
  button {
    background-color: transparent;
    border: 1px solid #2196F3;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: .25rem;
  }
  
  .search-container{
    width: 490px;
    display: block;
    margin: 0 auto;
  }
  
  input#search-bar{
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    
    focus{
      border: 1px solid #008ABF;
      transition: 0.35s ease;
      color: #008ABF;
      ::-webkit-input-placeholder{
        transition: opacity 0.45s ease; 
        opacity: 0;
       }
      ::-moz-placeholder {
        transition: opacity 0.45s ease; 
        opacity: 0;
       }
      :-ms-placeholder {
       transition: opacity 0.45s ease; 
       opacity: 0;
       }    
     }
   }
  
  .glyphicon-search{
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -35px;
    right: -45px;
  }
  
  .search-container {
    float: left;
    font-size:20px;
    margin-right : 30px;
  }
  
  .sortfilter i {
    font-size: 20px;
    padding:10px;
    float:right;
    color: black;
    margin-right: 30px;
  }
  
  .stickynavbar {
    background: white;
    border: 0px;
    top: 60px;
    height: 2%;
  }
  
  .stickynavbar ul li {
    margin-right: 100px;
  }
  
  
  </style>

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">
  <div class="w3-row-padding">
  <div style="padding: 10px 15px;">
    <a onclick="document.getElementById('Add Competition').style.display='block'"  class="popup" class="btn" id="PayRoll">+ Add Competition</a>
   </div>
  <div class="w3-container w3-card w3-white w3-margin-bottom"><br><br>
    
    <div class="search-container">
    <input type="text" style = "font-size:16px;" id="search-bar"  placeholder="What can I help you with today?">
    </div>
    
    <div class = "sortfilter">
    <i class = "glyphicon glyphicon-filter"></i>
    <i class = "glyphicon glyphicon-sort"></i>					    
    </div>	  
    <br><br><br>
    
    <div class = "stickynavbar">
    <div>
      <ul class="nav navbar-nav">
        <li><a href="#new" style = "color: black; font-size: 18px; font-family: Times New Roman">NEW</a></li>
        <li><a href="#open" style = "color: black; font-size: 18px; font-family: Times New Roman">OPEN</a></li>
        <li><a href="#closed" style = "color: black; font-size: 18px; font-family: Times New Roman">CLOSED</a></li>
      </ul>
    </div>
  </div>
    <br><br><br>
    <div id = "new">
    <div class="card">
      <div class="bg-img"><img src="assets/images/poster.png" style="width:246px; height : 140px"  alt="Avatar"></div>
        <div class="content">
          <h4>Competition Name</h4>
          <h5>Skills Required</h5>
          <h5>Last Date</h5>
          <a class = "btn">View Details</a> </div>
        </div>
    
    <div class="card">
      <div class="bg-img"><img src="assets/images/event2.jpg" style="width:246px; height : 140px"  alt="Avatar"></div>
        <div class="content">
          <h4>Competition Name</h4>
          <h5>Skills Required</h5>
          <h5>Last Date</h5>
          <a class = "btn">View Details</a> </div>
        </div>
    
    <div class="card">
      <div class="bg-img"><img src="assets/images/poster.png" style="width:246px; height : 140px"  alt="Avatar"></div>
        <div class="content">
          <h4>Competition Name</h4>
          <h5>Skills Required</h5>
          <h5>Last Date</h5>
          <a class = "btn">View Details</a> </div>
    </div>
    </div>
    
    <div id = "open">
    <div class="card">
      <div class="bg-img"><img src="assets/images/event1.jpg" style="width:246px; height : 140px"  alt="Avatar"></div>
        <div class="content">
          <h4>Competition Name</h4>
          <h5>Skills Required</h5>
          <h5>Last Date</h5>
          <a class = "btn">View Details</a> </div>
        </div>
    </div>
    
    <br><br><br><br>
    </div>
    <br><br><br>

    <div id="Add Competition" class="w3-modal">
      <div class="w3-modal-content w3-animate-zoom">
        <div class="w3-container  w3-display-container">
          <span onclick="document.getElementById('Add Competition').style.display='none'" class="w3-button w3-display-topright w3-large">x</span><br>
          <div class = "popup_header" style = "text-align:center"><h2>Add Competition</h2></div><br><br>
          <form>
            Image : <input type="file" name="pic" accept="image/*"><br><br>
            Name  : <input type="text" style="width:300px;" name="FirstName" ><br><br>
            Description : <input type="text" style="height:170px;width:350px;" name="LastName" ><br><br>
            Eligibility  : <input type="text" style="width:300px;" name="FirstName" ><br><br>
            Salary  : <input type="text" style="width:300px;" name="FirstName" ><br><br>
            Last Date to Apply  : <input type="text" style="width:300px;" name="FirstName" ><br><br>
            </form>
            <br><br><br>
            <button class="submitbtn" type = "submit" id = "submitskill" name = "submitskill" value = "Submit" onclick="myskill()" > Submit </button><br><br>
        </div>
      </div>
      </div>
  </div>
</div>