<div class="main-content">
        <div class="container-fluid">

    <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title"> Profile</h4>
                <!-- <p class="card-category">Complete your profile</p> -->
            </div>
            <div class="card-body">
<!-- <h2>Profile</h2> -->
<div class="btn-group btn-group-sm">
    <button mat-raised-button type="button" class="btn btn-danger pull-right" [routerLink]="['../student/edit']">Edit</button>
</div>
<div *ngFor="let student of data">
<br>
    <h3> Personal Details</h3>

<div>
        <div class="bg-img"><img src='http://ec2-3-14-3-49.us-east-2.compute.amazonaws.com:4000/api/file/{{img_id}}' style="width:160px; height : 160px"  alt="Img"></div>
   
   <br>
    <div>Roll No: {{student.roll_no}}</div>
    <div>Name: {{student.first_name}}{{student.last_name}}</div>
    <div>Branch : {{student.branch}}</div>
    <div>DOB : {{student.dob}}</div>
    <div>Backlog : {{student.backlogs}}</div>
    <div>Aadhar Card Number: {{student.aadhar_no}}</div>
</div>
<hr>
<hr>
<h3> Educational Details</h3>
<br>

<div>
    <div *ngFor= "let edu_details of student.education_details">
        <div>Certificate Degree Name: {{edu_details.certificate_degree_name}}</div>
        <div>Major: {{edu_details.major}}</div>
        <div>Institute/University Name: {{edu_details.institute_university_name}}</div>
        <div>Board: {{edu_details.board}}</div>
        <div>Passing Year: {{edu_details.passing_year}}</div>
        <div>Percentage: {{edu_details.percentage}}</div>
        <div>CGPA: {{edu_details.cgpa}}</div>
        <div>Proof Document: <a href="http://ec2-3-14-3-49.us-east-2.compute.amazonaws.com:4000/api/file/E{{edu_details.id}}">Proof Document</a></div>
        <hr>
    </div>
</div>
<hr>
<h3>Experience Details</h3>
<br>
<div>
    <div *ngFor= "let exp_details of student.experience_details">
            <div>Job Title : {{exp_details.job_title}}</div>
            <div>Company Name: {{exp_details.company_name}}</div>
            <div>Is Current Job: {{exp_details.is_current_job}}</div>
            <div>Start_Date: {{exp_details.start_date}}</div>
            <div>End Date: {{exp_details.end_date}}</div>
            <div>Job Location: {{exp_details.job_location_city}}</div>
            <div>Description: {{exp_details.description}}</div>
            <div>Proof Document: <a href="http://ec2-3-14-3-49.us-east-2.compute.amazonaws.com:4000/api/file/X{{exp_details.id}}">Proof Document</a></div>
            <hr>
    </div>
</div>
</div>
</div>
</div>
</div>