<br><br><br>
<div class="col-md-12">
  <mat-card class="example-card">
    <mat-card-header>
      <h3>Internship Corner</h3>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group dynamicHeight>
          <mat-tab label="Open Internships"> <br>
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">
    <!-- <h1>Internships Corner</h1> -->
    <!-- <button [routerLink]="['../internships/applied']" class="btn btn-danger">View Applied Jobs</button>  -->
    <div class="w3-row-padding">
    <div class="w3-container w3-card w3-white w3-margin-bottom"><br><br>  
      <div id = "new">
          <div *ngFor="let job of data" >
                <div class="card" >
                  <div class="bg-img"><img src="http://ec2-3-14-3-49.us-east-2.compute.amazonaws.com:4000/api/file/C{{job.company.company_id}}" style="width:244px; height : 140px"  alt="Img"></div>
                  <div class="content">
                           <div> Company Name : {{job.company.company_name}} </div>
                            <div>Job Profile : {{job.job_profile}}</div>
                          <div>Job Location : {{job.job_location}}</div>
                        <div>Salary : {{job.salary_lpa}}</div>
                            <button [routerLink]="['/post', job.id]" class="btn btn-danger">View Details</button> </div>
                      </div>
                      
          </div>
  
      <br><br><br><br>
      </div>
      <br><br><br>
  
      
    </div>
  </div>
  </div>
</mat-tab>
<mat-tab label="Applied Internships"> <br>
  <!-- <h1>Applied Internships</h1> -->
  <app-applied-internships></app-applied-internships>
</mat-tab>
</mat-tab-group>
</div>

</mat-card>
</div>